.heading, .subtitle, .startbutton {
    text-align: center;   
}

.startbutton {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* styling */
    padding: 15px 50px 15px 50px;
    border-radius: 5px;
    border: none;
    background-color: #4ff0dd; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    
    transition: all 0.25s ease;
}

.startbutton:hover {
    padding: 25px 60px 25px 60px;
    border-radius: 15px;
    font-size: 24px;
    background-color: transparent;
}

/* inspired by https://stackoverflow.com/a/48586471 */
.startbutton:before {
    border-radius: inherit;   
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
	background: linear-gradient(135deg, #21d4fd 25%, #b721ff 75%);
	z-index: -1;
    
    transition: opacity .25s;
    opacity: 0;
}

.startbutton:hover:before {
    opacity: 100%;
}


.toggleSwitch {
    position: absolute;
    bottom: 25px;
    right: 25px;
    opacity: 50%;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.toggleSwitch:hover {
    opacity: 100;
}

.toggleSwitch > span, .toggleSwitch > div {
    display:inline-block; 
    vertical-align: middle;   
}