.heading, .subtitle, .startbutton {
    text-align: center;   
}

.startbutton {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* styling */
    padding: 15px 50px 15px 50px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(90deg, #ed2f9e, 0, #ed2f9e, 100%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    
    transition: all 0.25s ease;
}

.startbutton:hover {
    padding: 25px 60px 25px 60px;
    border-radius: 15px;
    font-size: 24px;
    
    background: linear-gradient(133deg, rgba(46,231,153,1) 41%, rgba(0,212,255,1) 100%);
}

.toggleSwitch {
    position: absolute;
    bottom: 25px;
    right: 25px;
    opacity: 50%;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.toggleSwitch:hover {
    opacity: 100;
}

.toggleSwitch > span, .toggleSwitch > div {
    display:inline-block; 
    vertical-align: middle;   
}